
html {
    height: 100%;
}

    body {
        height: 100%;
        background: rgb(4, 9, 62);
        background: linear-gradient(135deg, rgb(4, 9, 62) 23%, rgb(121, 126, 138) 100%); 
    }




.icons{
    display: flex;
    column-gap: 25px;
    justify-content: center;
}

.icon{
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover{
    outline-offset: 4px;
}

.icon i{
    margin: auto;
}

.icon:hover i{
    animation: shake 0.25s;
}

.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--wpp:hover {
	background-color: #075E54;
	outline-color: #075E54;
}
.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--github:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}

@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg)
    }
    40%{
        transform: rotate(-15deg);   
    }
}

.me{
    width: 30%;
    height: 20%;
    border-radius: 50px;
    margin: 20px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    float: right;

    }

.press{
    display: flex;
    position: fixed;
    justify-content: space-between;
}
h1{
    font-size: 25px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
}

.es{
    padding: 10%;
}
.in{
    padding-left: 10%;
    padding-bottom: 20%;
    padding-right: 20%;
}